html,body{
    height: 100%;
    width: 100%;  
    -webkit-tap-highlight-color: transparent; // 去除button,Input点击时的阴影,IOS私有
    user-select:none;//禁止用户选择文本
    -webkit-touch-callout: none;   //禁止图片长按弹出菜单，img和a标签都要加(对图片似乎已经无效了，长安图片总是会弹出系统菜单) 
    -webkit-appearance: none; // 禁用系统原生样式
}

.clear:after{
    content: '';
    display: block;
    clear: both;
}

.s-hide{
    display: none;
}

.s-show{
    display: block;
}

.s-hover{
    &:hover{
        cursor:pointer;
    }
}

.flex-center{
    display:flex;
    justify-content: center;
    align-items: center;
}

.flex-sb{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-sa{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex-y{
    flex-direction: column;
}



