.clear:after {
    content: '';
    display: block;
    clear: both;
}

.s-hide {
    display: none;
}

.s-show {
    display: block;
}

.s-hover {
    &:hover {
        cursor: pointer;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-sa {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex-y {
    flex-direction: column;
}
