<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="format-detection" content="telephone=no" />
    <title></title>
    <!-- build:css ../static/css/common.css -->
    @include('../static/template/common/css.html')
    <!-- endbuild -->
    <!-- build:css ../static/css/index.css -->
    <link rel="stylesheet" href="../static/css/index.css">
    <!-- endbuild -->
    @include('../static/template/common/setFontSize.html')
</head>

<body>
    @include('../static/template/symbol/svg/sprite.symbol.svg')
    <header></header>
    <main>
        <svg class='icon'>
            <use xlink:href="#write_comment"></use>
        </svg>
    </main>
    <footer></footer>
    <!-- build:js ../static/js/main.js -->
    <script src="../static/js/lib/zepto.min.js"></script>
    <script src="../static/js/lib/doT.min.js"></script>
    <script src="../static/js/index.js"></script>
    <!-- 在 test 环境会引入vconsole调试工具 -->
    @if (env === 'test') { @include('../static/template/common/vconsole.html') }
</body>

</html>